html{
  background-color: #fdf6e3;
}
h1,h2,footer {
  font-size: 1.5rem;
}
nav ul {
  font-family: sans-serif;
}

.logo {
  text-tranform: uppercase;
}
.wrapper {
  backgropund-color:#3338d5;
}
.contents,.favs,.facts,.types {
  color: 93a1a1;
}
.wrapper > .dfn {
  background-color: #b58900
}
div + p {
  color: #fff;
}
ol li:first-child {
  color: #719347
}
ol li:last-child {
  color: #2aa198
}
.types li:nth-child(odd) {
  background-color: #657ba3;
}
.types li:nth-child(even) {
  background-color: #586e75;
}
.types li:nth-child(3) {
  backgrou-color: #d04b16
}
